services:
  datahost:
    build:
      context: .
      dockerfile: datasets/dev/Dockerfile
    ports:
      - "7777:7777"
    env_file: .env
    volumes:
      - ./engine:/app/engine
      - ./datasets:/app/datasets

  trainer:
    build:
      context: .
      dockerfile: test/Dockerfile
    depends_on:
      - datahost
    env_file: .env
    shm_size: 2gb
    volumes:
      - ./engine:/app/engine
      - ./datasets:/app/datasets
      - ./test:/app/test

  trainer-single:
    build:
      context: .
      dockerfile: test/Dockerfile
    depends_on:
      - datahost
    env_file: .env
    command: uv run python test/train_single.py
    volumes:
      - ./engine:/app/engine
      - ./datasets:/app/datasets
      - ./test:/app/test
